{% extends "crew/base.html" %}

{% block content %}
<h1>Liste des employées</h1>
<a href="{% url 'crew:create_employee' %}">Créer</a>
{% for employee in employees %}
<h2>
    <a href="{% url 'crew:details' employee.id %}" style="text-decoration: none;">
        {{ forloop.counter }} - {{ employee.name }} ({{ employee.poste }})
    </a>
</h2>
<a href="{% url 'crew:edit_employee' employee.id %}">Modifier</a>
<a href="{% url 'crew:delete_employee' employee.id %}">Supprimer</a>
{% endfor %}
{% endblock %}